<div class="header" id="education-header">
    <div id="title-wrapper">
        <h2 nz-typography id="title-text">Education and Skills</h2>
    </div>
</div>

<h2 nz-typography style="margin-left:10%; margin-bottom:1%">Schools</h2>

<div class="exp-content">
    <!--    Iterate the array with key 'professional'-->
    <div nz-row class="exp-card-wrapper">
        <div nz-row>
            <nz-card nz-col [nzSpan]="7" nzHoverable class="exp-card" *ngFor="let edu of education" (click)="sendToLink(edu.link)">
                <!--            <nz-card-meta [nzTitle]="exp.company" [nzDescription]="exp.role"></nz-card-meta>-->
                <div class="exp-card-header">
                    <div id="card-title-wrapper">
                        <h4 nz-typography id="card-title">{{ edu.schoolName }}</h4>
                        <div *ngIf="edu.id == 1" class="edu-card-img">
<!--                            Path referenced like so for GitHub pages compatibility-->
                            <img src="./assets/images/csula-logo.png" alt="CSULA" class="school-logo" />
                        </div>
                        <div *ngIf="edu.id == 2" class="edu-card-img">
<!--                            Path referenced like so for GitHub pages compatibility-->
                            <img src="./assets/images/sfsu-logo.png" alt="SFSU" class="school-logo" />
                        </div>
                        <div *ngIf="edu.id == 3" class="edu-card-img">
<!--                            Path referenced like so for GitHub pages compatibility-->
                            <img src="./assets/images/gcc-logo.png" alt="GCC" class="school-logo" />
                        </div>
                    </div>
                    <div id="edu-subtitle-wrapper">
                        <span id="card-subheader">{{ edu.major }}</span>
                        <span>{{ edu.attendStart }} - {{ edu.attendEnd }}</span>
                    </div>
                </div>
<!--                <nz-divider></nz-divider>-->
                <!--            Iterate the nested array-->
<!--                <span *ngIf="edu.id != 3" id="skills-header">Extracurriculars:</span><br/>-->
<!--                <span nz-typography *ngFor="let ex of edu.extracurriculars">-->
<!--                    <span>{{ ex.groupName }}</span> <br/>-->
<!--                </span>-->
            </nz-card>
        </div>
        <div class="skills-courses">
            <div id="skills">
                <h2 nz-typography>Skills</h2>
                <div>
                    <span class="skill-chip" nz-typography *ngFor="let skill of skills">{{ skill }}</span>
                </div>
            </div>
            <div id="courses">
                <h2 nz-typography>Courses</h2>
                <div>
                    <span class="skill-chip" nz-typography *ngFor="let course of courses">{{ course }}</span>
                </div>
            </div>
        </div>
        <div class="internship">
            <div style="margin-bottom:4%">
                <h2 nz-typography>Internship</h2>
                <h3 nz-typography>
                    <span> Operations Data Analysis & Management System</span> <br/>
                    <span style="font-style:italic">sponsored by Boeing</span>
                </h3>
                <h4 nz-typography>Overview</h4>
                <div>
                    <h4 nz-typography>Abstract</h4>
                    <div>{{ boeing.abstract }}</div>
                </div>
            </div>
            <div nz-row [nzGutter]="[20,20]" class="modules">
                <div nz-col [nzSpan]="7" style="max-width:80%;"><nz-card class="module-desc" nzTitle="Front End">{{ boeing.frontend }}</nz-card></div>
                <div nz-col [nzSpan]="7" style="max-width:80%;"><nz-card class="module-desc" nzTitle="Back End">{{ boeing.backend }}</nz-card></div>
                <div nz-col [nzSpan]="7" style="max-width:80%;"><nz-card class="module-desc" nzTitle="Machine Learning">{{ boeing.machine }}</nz-card></div>
                <div nz-col [nzSpan]="7" style="max-width:80%;"><nz-card class="module-desc" nzTitle="Containerization" >{{ boeing.container }}</nz-card></div>
                <div nz-col [nzSpan]="7" style="max-width:80%;"><nz-card class="module-desc" nzTitle="Amazon Web Services">{{ boeing.aws }}</nz-card></div>
                <div nz-col [nzSpan]="7" style="max-width:80%;"><nz-card class="module-desc" nzTitle="Database">{{ boeing.database }}</nz-card></div>
            </div>
        </div>
    </div>
</div>
