.exp-card {
    height: 12em;
    width: 30em;
    border-radius: 10px;
    margin: 20px;
}

.exp-card-wrapper {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.exp-card-wrapper #edu-subtitle-wrapper {
    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.school-logo {
    width: 40%;
    margin-bottom: 5px;
}

.edu-card {
    max-width: 90%;
    margin-top: -5%;
    border-radius: 10px;
}

.edu-card-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.skills-courses {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    background-color: inherit;
    margin-top: 4%;
}

.skills-courses #skills {
    width: 49%;
    background-color: inherit;
}

.skills-courses #courses {
    width: 49%;
    background-color: inherit;
}

.skill-chip {
    background-color: rgba(215, 215, 215, 0.74);
    padding: 8px;
    margin: 5px;
    border-radius: 20px;
    width: fit-content;
    display: inline-block;
}

.internship {
    width: 88%;
    margin-top: 3%;
}

.modules {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.module-desc {
    min-height: 18em;
    border-radius: 10px;
    background-color: inherit;
    border: none;
}
