<div class="header" id="education-header">
    <div id="title-wrapper">
        <h2 nz-typography id="title-text">Education and Skills</h2>
    </div>
</div>

<div class="exp-content">
    <!--    Iterate the array with key 'professional'-->
    <div nz-row [nzGutter]="[20, 30]" class="exp-card-wrapper">
        <div nz-col [nzSpan]="8" class="exp-card-wrapper" *ngFor="let edu of education">
            <nz-card nzHoverable class="exp-card" (click)="sendToLink(edu.link)">
                <!--            <nz-card-meta [nzTitle]="exp.company" [nzDescription]="exp.role"></nz-card-meta>-->
                <div class="exp-card-header">
                    <div id="card-title-wrapper">
                        <h4 nz-typography id="card-title">{{ edu.schoolName }}</h4>
                        <div *ngIf="edu.id == 1" style="width:50%;display: flex;justify-content: right">
<!--                            Path referenced like so for GitHub pages compatibility-->
                            <img src="./assets/images/csula-logo.png" alt="CSULA" class="school-logo" />
                        </div>
                        <div *ngIf="edu.id == 2" style="width:50%;display: flex;justify-content: right">
<!--                            Path referenced like so for GitHub pages compatibility-->
                            <img src="./assets/images/sfsu-logo.png" alt="SFSU" class="school-logo" />
                        </div>
                        <div *ngIf="edu.id == 3" style="width:50%;display: flex;justify-content: right">
<!--                            Path referenced like so for GitHub pages compatibility-->
                            <img src="./assets/images/gcc-logo.png" alt="GCC" class="school-logo" />
                        </div>
                    </div>
                    <div id="card-subtitle-wrapper">
                        <span id="card-subheader">{{ edu.major }}</span>
                        <span>{{ edu.attendStart }} - {{ edu.attendEnd }}</span>
                    </div>
                </div>
                <nz-divider></nz-divider>
                <!--            Iterate the nested array-->
                <span *ngIf="edu.id != 3" id="skills-header">Extracurriculars:</span><br/><br/>
                <span nz-typography *ngFor="let ex of edu.extracurriculars">
                    <span>{{ ex.groupName }}</span> <br/>
                </span>
            </nz-card>
        </div>
<!--        <nz-card class="edu-card">-->
<!--            <div id="skill-wrapper">-->
<!--                <span nz-typography *ngFor="let skill of skills">-->
<!--                    <span>{{ skill }}</span>-->
<!--                </span>-->
<!--            </div>-->
<!--        </nz-card>-->
    </div>
</div>

<div>
<!--    <h4 nz-typography>Senior Project</h4>-->
</div>
