.exp-card {
    border-radius: 10px;
}

.exp-card-wrapper {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.school-logo {
    width: 36%;
    margin-bottom: 5px;
}

.edu-card {
    width: 90%;
    margin-top: -5%;
    border-radius: 10px;
}

.edu-card #skill-wrapper {
}

.edu-card #skill-chip {

}
