.header {
    width: 100%;

}

.header #title-wrapper {
    width: 97%;
    height: 70px;
    border: 5px solid #CBC379;
    margin-bottom: 3%;
    margin-top: 3%;
    line-height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.header #title-text {
    /*color: #FDFDFD;*/
    color: black;
    margin-left: 1%;
    font-style: italic;
    margin-top: 10px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.exp-card {
    width: 70%;
    background-color: black;
}
