.exp-card {
    height: fit-content;
    min-height: 40em;
    border-radius: 10px;
}

.exp-card-wrapper {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.exp-card-img {
    max-width: 50%;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.exp-card-header #boeing-logo {
    width: 40%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: -1%;
}

.exp-card-header #lacity-logo {
    width: 25%;
    position: relative;
    right: 0;
    margin-left: 10%;
    margin-top: -4%;
}

.exp-card-header #buelna-logo {
    width: 25%;
    position: relative;
    right: 0;
    margin-right: 10px;
    margin-top: -5%;
}

.exp-card-header #card-subtitle-wrapper {
    margin-top: 2%;
}
