.exp-card {
    border-radius: 10px;
    min-height: 20em;
    height: fit-content;
}

.exp-card-wrapper {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.language-subheader {
    margin-top: 10px;
    font-weight: bold;
}

.exp-card #card-stats-wrapper {
    margin-top: 9%;
}

.stats-item {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
