<div class="header" id="project-header">
    <div id="title-wrapper">
        <h2 nz-typography id="title-text">Projects</h2>
    </div>
</div>

<div class="exp-content">
    <!--    Iterate the array with key 'professional'-->
    <div nz-row [nzGutter]="[20, 30]" class="exp-card-wrapper">
        <div nz-col [nzSpan]="5" class="exp-card-wrapper" *ngFor="let repo of repoList">
            <nz-card nzHoverable class="exp-card" (click)="sendToLink(repo.html_url)">
<!--                Card header-->
                <div class="exp-card-header">
                    <div id="card-title-wrapper">
                        <h4 nz-typography id="card-title">{{ repo.name }}</h4>
                    </div>
                    <span>Click to see source code >></span>
                </div>
                <nz-divider></nz-divider>
<!--                Card body-->
                <span id="skills-header">Description:</span><br/>
                <span>
                    {{ repo.description }}
                </span>
                <div class="card-duty-list">
                    <span class="language-subheader">Top language: {{ repo.language }}</span>
                    <div id="card-stats-wrapper">
                        <div class="stats-item">
                            <span>My contributions</span>
                            <span>{{ repo.name | getRepoStats:'commits' | async }}</span>
                        </div>
                        <div class="stats-item">
                            <span>Collaborators</span>
                            <span>{{ repo.name | getRepoStats:'contributors' | async }}</span>
                        </div>
                        <div class="stats-item">
                            <span>Created</span>
                            <span>{{ repo.created_at | date:'MM/dd/yyyy' }}</span>
                        </div>
                        <div class="stats-item">
                            <span>Updated</span>
                            <span>{{ repo.updated_at | date:'MM/dd/yyyy' }}</span>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>
