<div class="header" id="extra-header">
    <div id="title-wrapper">
        <h2 nz-typography id="title-text">Extracurriculars</h2>
    </div>
</div>

<div class="exp-content">
    <!--    Iterate the array with key 'professional'-->
    <div nz-row [nzGutter]="[200, 30]" class="exp-card-wrapper">
        <div nz-col [nzSpan]="8" class="exp-card-wrapper" *ngFor="let exp of expData">
            <nz-card nzHoverable class="exp-card">
                <!--            <nz-card-meta [nzTitle]="exp.company" [nzDescription]="exp.role"></nz-card-meta>-->
                <div class="exp-card-header">
                        <h4 nz-typography id="card-title">{{ exp.projectName }}</h4>
                    <div id="card-title-wrapper">
                        <span id="card-subheader">{{ exp.role }}</span>
                        <span *ngIf="exp.projectName != 'MSCI Scholarship'">{{ exp.startDate }} - {{ exp.endDate }}</span>
                    </div>
                </div>
                <nz-divider></nz-divider>
                <!--            Iterate the nested array-->
                <div *ngIf="exp.projectName != 'MSCI Scholarship'">
                    <span id="skills-header">Acquired skills:</span><br/>
                    <nz-badge *ngFor="let skill of exp.acquiredSkills">
                        <div id="skill-chip"><span nz-typography>{{ skill }}</span></div>
                    </nz-badge>
                    <div class="card-duty-list">
                        <span id="duty-subheader">Duties:</span>
                        <ul *ngFor="let duty of exp.duties">
                            <li id="duty-list-item">{{ duty }}</li>
                        </ul>
                    </div>
                </div>
            </nz-card>
            <div *ngIf="exp.projectName == 'MSCI Scholarship'">
            </div>
        </div>
    </div>
</div>

