<div class="header" id="extra-header">
    <div id="title-wrapper">
        <h2 nz-typography id="title-text">Extracurriculars</h2>
    </div>
</div>

<div class="exp-content">
    <!--    Iterate the array with key 'professional'-->
    <div nz-row [nzGutter]="[200, 30]" class="exp-card-wrapper">
        <div nz-col [nzSpan]="8" class="exp-card-wrapper" *ngFor="let exp of expData">
            <nz-card *ngIf="exp.projectName != 'MSCI Scholarship'" nzHoverable class="exp-card" (click)="sendToLink(exp.link)">
                <!--            <nz-card-meta [nzTitle]="exp.company" [nzDescription]="exp.role"></nz-card-meta>-->
                <div class="exp-card-header">
                    <h4 nz-typography id="card-title">{{ exp.projectName }}</h4>
                    <div id="card-title-wrapper">
                        <span id="card-subheader">{{ exp.role }}</span>
                        <span *ngIf="exp.projectName != 'MSCI Scholarship'">{{ exp.startDate }} - {{ exp.endDate }}</span>
                    </div>
                </div>
                <nz-divider></nz-divider>
                <!--            Iterate the nested array-->
                <div>
                    <span id="skills-header">Acquired skills:</span><br/>
                    <nz-badge *ngFor="let skill of exp.acquiredSkills">
                        <div id="skill-chip"><span nz-typography>{{ skill }}</span></div>
                    </nz-badge>
                    <div class="card-duty-list">
                        <span id="duty-subheader">Duties:</span>
                        <ul *ngFor="let duty of exp.duties">
                            <li id="duty-list-item">{{ duty }}</li>
                        </ul>
                    </div>
                </div>
            </nz-card>
            <nz-card nzHoverable *ngIf="exp.projectName == 'MSCI Scholarship'" class="exp-card" (click)="sendToLink(exp.link)">
                <div class="exp-card-header">
                    <h4 nz-typography style="font-weight:bold">{{ exp.projectName }}</h4>
                    <div style="display:flex;justify-content:space-between">
                        <span style="font-style:italic;font-size:medium">{{ exp.role }}</span>
                        <span style="font-size:medium">September 2019</span>
                    </div>
                    <nz-divider></nz-divider>
                </div>
                <div>
                    <span style="font-weight:bold;font-size:medium">Details:</span>
                    <ul style="list-style-type: circle" *ngFor="let detail of exp.details">
                        <li>{{ detail }}</li>
                    </ul>
                </div>
            </nz-card>
        </div>
    </div>
</div>

