<div class="toolbar" role="banner">
    <div class="toolbar-btn-wrapper">
        <a href="#education-header"><button nz-button class="toolbar-btn">Education</button></a>
        <a href="#exp-header"><button nz-button  class="toolbar-btn">Experience</button></a>
        <a href="#project-header"><button nz-button  class="toolbar-btn">Projects</button></a>
        <a href="#extra-header"><button nz-button  class="toolbar-btn">Extracurriculars</button></a>
    </div>

    <div class="spacer"></div>
    <a
        aria-label="Maximilian Resume"
        target="_blank"
        rel="noopener"
        href="./assets/Maximilian_Orozco.pdf"
        title="View Resume"
        class="resume-wrapper"
    >
        <button nz-button class="resume-btn">
            <i nz-icon nzType="file" nzTheme="outline"></i>
            Resume
        </button>
    </a>
</div>

<div id="content">
    <!--  Picture-->
    <div class="profile-image-wrapper">
<!--                            Path referenced like so for GitHub pages compatibility-->
        <img
            src="./assets/images/profile_image_cropped.jpg"
            alt="Profile Image"
            class="profile-image"
        />
        <h1 nz-typography>Maximilian Hawk Orozco</h1>
        <div class="socials">
            <div id="social-links">
                <h4 nz-typography>
                    <button nz-button>
                        <a href="https://www.linkedin.com/in/maximilian-h-orozco/" target="_blank" title="LinkedIn">LinkedIn</a>
                    </button>
                    ·
                    <button nz-button>
                        <a href="https://github.com/maxorozco213" target="_blank" title="GitHub">GitHub</a>
                    </button>
                </h4>
            </div>
            <div id="contact-info">
                <h4 nz-typography style="font-size:large">
                    <i nz-icon nzType="phone" nzTheme="outline"></i>
                    (213) 369-8412<br/>
                    <i nz-icon nzType="mail" nzTheme="outline"></i>
                    maxorozco213@gmail.com<br/>
                    <i nz-icon nzType="environment" nzTheme="outline"></i>
                    Los Angeles, California
                </h4>
            </div>
        </div>
        <nz-card class="about-me">
            <h3 nz-typography>
                About me
            </h3>
            <p nz-typography style="font-size:large;">
                I am a recent graduate from California State University, Los Angeles with a Bachelor's of Science in
                Computer Science. During my years in college I have accumulated a wealth of experience with customer
                service and team collaboration from working part-time at Los Angeles City Hall and other establishments.
                In my classes and free time I have also gained experience using Java, JavaScript, Kotlin, Python, and
                related Frameworks such as ReactJS and React Native. I have a passion for anything tech which makes me
                eager to start my career as an engineer.
            </p>
        </nz-card>
        <div class="word-cloud-parallax">
            <div class="parallax-window"></div>
            <app-education></app-education>
            <app-experience></app-experience>
            <app-projects></app-projects>
            <app-extracurriculars></app-extracurriculars>
        </div>
        <nz-back-top nzTarget="content"></nz-back-top>
    </div>
</div>

<router-outlet></router-outlet>
