/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.compact.min.css";

body, html {
    height: 100%;
    background-color: #fdfdfd;
}

.header {
    width: 100%;
}

.header #title-wrapper {
    width: 96%;
    height: 58px;
    background-color: #CBC379;
    margin-bottom: 4%;
    margin-top: 3%;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.header #title-text {
    /*color: #FDFDFD;*/
    color: white;
    margin-left: 1%;
    font-style: italic;
    margin-top: 10px;
}

.exp-content {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 60em;
}

.exp-card {
    width: 35em;
    height: 40em;
}

.exp-card #skills-header {
    font-weight: bold;
    margin-top: 20px;
}

.exp-card-header {
    height: 10%;
    margin-bottom: 20px;
}

.exp-card-header #card-title {
    font-weight: bold;
}

.exp-card-header #card-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.exp-card-header #boeing-logo {
    width: 40%;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.exp-card-header #lacity-logo {
    width: 30%;
    position: relative;
    right: 0;
    margin-left: 10%;
}

.exp-card-header #card-subtitle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
}

.exp-card-header #card-subheader-wrapper {
    display: flex;
    flex-direction: row;
}

.exp-card-header #card-subheader {
    font-style: italic;
    font-size: medium;
}

.card-duty-list {
    margin-top: 4%;
}

.card-duty-list #duty-subheader {
    font-weight: bold;
}

.card-duty-list #duty-list-item {
    padding-left: 0;
    list-style-type: circle;
}
